spel/version 3/walkthrough.ipynb
spel/version 3/catboost_info/learn_error.tsv
spel/version 3/catboost_info/time_left.tsv
spel/version 3/catboost_info/learn/events.out.tfevents
spel/sparad_scrape.csv
spel/__pycache__/V75_scraping.cpython-38.pyc
