spel/version 3/catboost_info/**
spel/sparad_scrape.csv
spel/__pycache__/V75_scraping.cpython-38.pyc
spel/catboost_info/**
spel/catboost_info/*.*
spel/catboost_info/*.tsv
spel/catboost_info/*.tfevents
spel/catboost_info/catboost_training.json
spel/.tmp.drivedownload/**
spel/.tmp.drivedownload/*
spel/.tmp.drivedownload/*.*
spel/.tmp.driveupload/*
spel/*.log
spel/v75_tester/flaml.log
spel/v75_tester/try_gluon/agModels-predictClass/*.*
spel/v75_tester/try_pytorch/*.*
spel/v75_tester/try_threads/*.*
spel/v75_tester/catboost_info/*.*
spel/v75_tester/*.csv
spel/v75_tester/*.txt
spel/v75_tester/*.pkl
spel/v75_tester/*.json
spel/__pycache__/*
spel/temp.csv
spel/sparad_scrape_learn.csv
spel/sparad_scrape_spela.csv
spel/sparad_stack_L1.csv
spel/sparad_stack_L2.csv
spel/veckans_rad.csv
spel/__pycache__/V75_scraping.cpython-39.pyc
spel/__pycache__/*.*
spel/BacktestPlot.csv
spel/BacktestResult.csv
spel/backtest_curr_stack_df.csv
spel/modeller/cat2mod_columns.txt
spel/modeller/cat2mod.model
spel/modeller/xgb2mod.model
spel/modeller/xgb2mod_columns.txt
