version 3/catboost_info/**
sparad_scrape.csv
__pycache__/*.*
sparad_scrape.csv
catboost_info/**
catboost_info/*.*
catboost_info/*.tsv
catboost_info/*.tfevents
catboost_info/catboost_training.json
.tmp.drivedownload/**
.tmp.drivedownload/*
.tmp.drivedownload/*.*
v75_tester/flaml.log
.tmp.driveupload/*
sparad_scrape.csv
flaml.log
v75_tester/flaml.log
v75_tester/try_gluon/agModels-predictClass/*.*
v75_tester/try_pytorch/*.*
v75_tester/try_threads/*.*
v75_tester/catboost_info/*.*
v75_tester/*.csv
v75_tester/*.txt
v75_tester/*.pkl
v75_tester/*.json
